<!-- Toolbar -->
<div class="toolbar h-1/6 w-full" role="banner">
  <div class="flex justify-start items-center basis-1/6 hover:cursor-pointer" (click)="navigate('')">
    <img
      width="40"
      alt="CLX Autos Logo"
      src="./assets/colour.png"
    />
    <span class="font-extrabold text-lg">CLX Autos</span>
  </div>
  <div class="flex justify-around">
    <div class="flex justify-start items-center hover:cursor-pointer {{isItemActivated(ItemNavigation.BIKES)}}" (click)="navigate('bikes/list')">
      <mat-icon class="mr-1">two_wheeler</mat-icon>
      <span class="font-medium">Bikes</span>
    </div>
    <div class="mx-5"></div>
    <div class="flex justify-between items-center hover:cursor-pointer {{isItemActivated(ItemNavigation.CARS)}}" (click)="navigate('cars/list')">
      <mat-icon class="mr-1">directions_car</mat-icon>
      <span class="font-medium flex-1">Cars</span>
    </div>
  </div>
</div>
