<div class="flex flex-col h-screen w-screen justify-center">
  <div class="flex h-20">
    <app-header-container></app-header-container>
  </div>
  <div class="overflow-x-hidden w-full items-center flex-1 flex flex-col p-0 lg:px-4">
    <div class="overflow-y-auto overflow-x-hidden 2xl:w-1/2 w-full super-scroll">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

