.banner {
  background-color: #253542;
  background-image: url('../../../../assets/raize.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: difference
}

.main-banner {
  background-color: #08C5FE;
  background-image: url('../../../../assets/raize.png');
  background-size: 1000px;
  background-repeat: no-repeat;
  background-blend-mode: difference
}
