<div class="flex flex-col h-full w-full">
  <div class="flex h-20">
    <app-header-container></app-header-container>
  </div>
  <div class="overflow-x-hidden w-full items-center flex-1 flex flex-col p-0 lg:px-4">
    <div class="flex px-8 flex-1 bg-gray-200 rounded-md">
      <div class="flex flex-col basis-1/2">
        <div class="flex flex-col justify-start mt-36">
          <div class="mb-8">
            <span class="font-bold" style="font-size: 60px; color: #1C2E3D">Test your driving</span>
          </div>
          <div class="mb-2">
            <span class="font-medium" style="font-size: 50px; color: #1C2E3D">skill with Raize</span>
          </div>
          <div class="mb-10">
            <span class="font-medium" style="font-size: 14px; color: #1C2E3D">Program finansial dari Toyota yang Bikin kamu nggak perlu nunggu lagi untuk punya mobil keren dan jadi makin kece!</span>
          </div>
          <div class="flex">
            <div class="px-5 py-1 bg-black bg-opacity-10 flex justify-center items-center hover:cursor-pointer">
              <span class="font-bold" style="font-size: 18px">Order</span>
            </div>
            <div class="px-5 py-1 hover:cursor-pointer">
              <span style="font-size: 16px">Discover</span>
            </div>
          </div>
        </div>
        <div class="flex mt-40">
          <div class="flex justify-center items-center w-28 h-14 border-2 border-black bg-opacity-10 hover:cursor-pointer" style="background-image: url('./assets/interior.jpg'); background-size: 120px;">
            <span class="text-white font-bold">See more</span>
          </div>
          <div class="flex justify-center items-center ml-5 w-28 h-14 border-2 border-black hover:cursor-pointer" style="background-image: url('./assets/safety.jpg'); background-size: 150px;">
            <span class="text-white font-bold">Buy Now</span>
          </div>
        </div>
      </div>
      <div class="flex basis-1/2 justify-end">
        <div class="flex justify-center h-full w-28 mr-3 main-banner brightness-50">
          <span class="font-extrabold" style="writing-mode: vertical-lr; text-orientation: upright; font-size: 80px">TOYOTA</span>
        </div>
        <div class="flex justify-center h-full w-28 mr-3 banner">
          <span class="font-extrabold" style="writing-mode: vertical-lr; text-orientation: upright; font-size: 80px">ATOYOT</span>
        </div>
        <div class="h-full w-28 main-banner flex justify-center brightness-50">
          <span class="font-extrabold" style="writing-mode: vertical-lr; text-orientation: upright; font-size: 80px">TOYOTA</span>
        </div>
        <img src="./assets/raize.png" alt="Raize" width="688" style="position: fixed; z-index: 10; margin-top: 250px">
      </div>
    </div>
  </div>
</div>
